In [1]:
import os, sys
sys.path.append('/Users/gabrielfreitas/balatro-tech')

import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm


from balatro import Deck, Hand, VALUES

In [2]:
results = []

N = 1000
for i in tqdm(range(N)):
    deck = Deck()
    deck.shuffle()

    hand = Hand()
    hand.draw_from_deck(deck, 8)

    poker_hand, hand_value = hand.find_best_poker_hand()
    results.append((poker_hand, hand_value))

100%|██████████| 1000/1000 [00:19<00:00, 51.27it/s]

In [21]:
mc = pd.DataFrame(results, columns=['poker_hand', 'hand_value'])
mc = mc.groupby('poker_hand').agg({'hand_value': ['sum', 'mean', 'count']})
mc.columns = mc.columns.droplevel()
mc.sort_values('count', inplace=True)

In [22]:
mc.loc[:, 'share_%'] = mc['count'] / mc['count'].sum() * 100

In [23]:
mc

                   sum        mean  count  share_%
poker_hand
four_of_a_kind     558  186.000000      3      0.3
straight_flush     720  240.000000      3      0.3
three_of_a_kind   4134   81.058824     51      5.1
full_house        7402  123.366667     60      6.0
flush             6382  102.935484     62      6.2
high_card         1816   20.636364     88      8.8
straight         13632  134.970297    101     10.1
pair              8436   29.914894    282     28.2
two_pair         16778   47.937143    350     35.0